<div class="container mt-5">
  <div class="card border-primary shadow-sm">
    <div class="card-header text-white" style="background-color: var(--blue-color-1);">
      <h3 class="mb-0">Welcome to AI Study</h3>
    </div>
    <div class="card-body">
      <p class="lead">
        Application developed for academic purposes regarding the use of generative
        AI integrated with the OpenAI API.
      </p>

      <hr>

      <div class="mt-4">
        <h5>Documentation</h5>
        <a class="external-link" href="https://openai.com/pt-BR/api/" target="_blank">OpenAI</a>
      </div>

    </div>
  </div>
</div>

