@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --white-color-1: #FFF;
  --green-color-1: #31D931;
  --blue-color-1: #00BFFF;
  --red-color-1: #D34343;
  --purple-color-1: #A020F0;
  --gray-color-1: rgba(255, 255, 255, 0.7);
  --gray-color-2: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-title-ia {
  background-color: var(--blue-color-1);
}

.text-title {
  color: var(--purple-color-1);
  font-weight: 600;
}

.text-response {
  color: var(--green-color-1);
  font-weight: 600;
}

.button-success {
  background-color: var(--white-color-1);
  color: var(--green-color-1);
  border-color: var(--green-color-1);
}

.button-success:hover {
  background-color: var(--green-color-1);
  color: var(--white-color-1);
  border-color: var(--green-color-1);
}

.button-danger {
  background-color: var(--white-color-1);
  color: var(--red-color-1);
  border-color: var(--red-color-1);
}

.button-danger:hover {
  background-color: var(--red-color-1);
  color: var(--white-color-1);
  border-color: var(--red-color-1);
}

.animation-back-in-down-2s {
  animation: backInDown;
  animation-duration: 2s;
}
